.altair-global {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.altair-global .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 3000px;
  position: relative;
}

.altair-global .article-title {
  display: flex;
  flex-direction: column;
  width: 733px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 244px;
  left: 80px;
}

.altair-global .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: #000000;
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  font-style: var(--title-font-style);
}

.altair-global .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000bf;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.altair-global .navigation {
  position: absolute;
  width: 1440px;
  height: 164px;
  top: 26px;
  left: -10px;
  background-color: #ffffff;
}

.altair-global .items {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 56px;
  left: 1064px;
}

.altair-global .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.altair-global .text-wrapper-3 {
  position: absolute;
  height: 30px;
  top: 66px;
  left: 80px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.altair-global .navigation-footer {
  position: absolute;
  width: 1440px;
  height: 264px;
  top: 2736px;
  left: 0;
  background-color: #ffffff;
}

.altair-global .text-wrapper-4 {
  position: absolute;
  height: 36px;
  top: 36px;
  left: 40px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.altair-global .text-wrapper-5 {
  position: absolute;
  height: 20px;
  top: 223px;
  left: 1224px;
  font-family: var(--subheadline-regular-font-family);
  font-weight: var(--subheadline-regular-font-weight);
  color: #000000;
  font-size: var(--subheadline-regular-font-size);
  letter-spacing: var(--subheadline-regular-letter-spacing);
  line-height: var(--subheadline-regular-line-height);
  white-space: nowrap;
  font-style: var(--subheadline-regular-font-style);
}

.altair-global .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.altair-global .rectangle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 174px;
  left: 40px;
  object-fit: cover;
}

.altair-global .samriddhigupta {
  position: absolute;
  width: 654px;
  height: 67px;
  top: 72px;
  left: 40px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.altair-global .FIRST-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 174px;
  left: 121px;
  object-fit: cover;
}

.altair-global .copy {
  display: flex;
  flex-direction: column;
  width: 567px;
  height: 156px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 871px;
  left: 72px;
}

.altair-global .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -57.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48.0px;
}

.altair-global .text-wrapper-7 {
  position: relative;
  width: 1107px;
  height: 196px;
  margin-bottom: -55.00px;
  margin-right: -540.00px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #828282;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.altair-global .copy-2 {
  display: flex;
  flex-direction: column;
  width: 554px;
  height: 99px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 1287px;
  left: 72px;
}

.altair-global .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -157.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48.0px;
}

.altair-global .recently-our-CAD {
  position: relative;
  width: 1141px;
  height: 339px;
  margin-top: -85.00px;
  margin-bottom: -155.00px;
  margin-right: -587.00px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #828282;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.altair-global .image {
  position: absolute;
  width: 1440px;
  height: 340px;
  top: 413px;
  left: 0;
}
